section{
    border: solid lightblue;
}

footer{
    border: solid blue;
}
.nav {
    border: solid red;
}
/* ALL CODE ABOVE IS FOR PREVIEW & DESIGN ONLY (delete after setup the layout) */
:root{
    --bg-dark : #1F2937;
    --tx-white : #F9FAF8;
    --tx-white2 : #E5E7EB;
    --bg-blue : #3882F6;
    --tx-black : #1F2937;
    --bg-gray : #E5E7EB;
}
/* BODY */
body {
    height: 100vh;
    margin: 0px;
    font-family: 'Roboto',Arial,'Helvetica Neue',Helvetica,sans-serif;
}

/* HEADER */
header {
    background: var(--bg-dark);
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
}
.logo {
    color: var(--tx-white);
    font-size: 24px;
    font-weight: bold;
}
.nav {
    display: flex;
    gap: 25px;
    list-style: none;
}
.nav a {
    text-decoration: none;
    color: var(--tx-white2);
    font-size: 18px;
}

/* SECTION */
.content {
    padding: 0 10%;
}
.hero {
    background: var(--bg-dark);
    color: var(--tx-white2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    font-size: 18px;
    padding: 100px 10%;
}
.heroHalf {
    width: 50%;
}
.hero h1 {
    color: var(--tx-white);
    font-weight: 900;
    font-size: 48px;
    margin: 0px;
}
.hero button {
    background: var(--bg-blue);
    color: var(--tx-white);
    font-size: 18px;
    font-weight: bold;
    padding: 10px 35px;
    border: none;
    border-radius: 10px;
}

/* FOOTER */
footer {
    background: var(--bg-dark);
    padding: 0 10%;
    color: var(--tx-white2)
}
