:root{
    --bg-dark : #1F2937;
    --tx-white : #F9FAF8;
    --tx-white2 : #E5E7EB;
    --bg-blue : #3882F6;
    --tx-black : #1F2937;
    --bg-gray : #E5E7EB;
}
/* BODY */
body {
    height: 100vh;
    margin: 0px;
    font-family: 'Roboto',Arial,'Helvetica Neue',Helvetica,sans-serif;
}

/* HEADER */
header {
    background: var(--bg-dark);
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
}
.logo {
    color: var(--tx-white);
    font-size: 24px;
    font-weight: bold;
}
.nav {
    display: flex;
    gap: 20px;
    list-style: none;
}
.nav a {
    text-decoration: none;
    color: var(--tx-white2);
    font-size: 18px;
}

/* SECTION */
.content {
    padding: 0 10%;
}
.hero {
    background: var(--bg-dark);
    color: var(--tx-white2);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 80px;
    font-size: 18px;
    padding: 100px 10%;
}
.heroHalf {
    width: 50%;
}
.hero h1 {
    color: var(--tx-white);
    font-weight: 900;
    font-size: 48px;
    margin: 0px;
}
.hero button {
    background: var(--bg-blue);
    color: var(--tx-white);
    font-size: 18px;
    font-weight: bold;
    padding: 10px 35px;
    border: none;
    border-radius: 10px;
}
.hero .image {
    background: #728086;
    display: grid;
    place-items: center;
}

.info {
    padding: 30px 10% 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--tx-black);
    font-weight: bold;
    font-size: 36px;
}
.info .grid {
    display: flex;
    gap: 30px;
}
.info .item {
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.info p {
    font-size: 18px;
    margin: 20px;
}
.info .img {
    width: 150px;
    height: 150px;
    border-radius: 20px;

    border: solid var(--bg-blue) 6px;
}

.quote {
    background: var(--bg-gray);
    padding: 80px 15%;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: var(--tx-black);
}
.quote .autor {
    text-align: right;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
}

.signUp {
    margin: 80px 10%;
    padding: 30px 8%;
    background: var(--bg-blue);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: lighter;
    color: var(--tx-white2);
}
.signUp .title {
    font-size: 24px;
    font-weight: bold;
}
.signUp button {
    margin: auto 0;
    flex: 0 0 auto;
    background: var(--bg-blue);
    color: var(--tx-white);
    font-size: 18px;
    font-weight: bold;
    padding: 10px 35px;
    border: solid var(--tx-white2) 2px;
    border-radius: 10px;
}
/* FOOTER */
footer {
    background: var(--bg-dark);
    padding: 0 10%;
    color: var(--tx-white2)
}
